@model Factory.Models.Machine

<h2>Are you sure you want to remove this machine?</h2>

@Html.DisplayNameFor(model => model.MachineType): @Html.DisplayFor(model => model.MachineType)
@using (Html.BeginForm())
{
  <div class="container">
    <input type="submit" value="Remove" />
  </div>  
}
@Html.ActionLink("Back to List", "Index")
<p>@Html.ActionLink("Home", "Index", "Home")</p>

@{
  Layout = "_Layout";
}
