@model Factory.Models.Engineer

<h2>Are you sure you want to delete this Engineer?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <div class="container">
    <input type="submit" value="Delete" />
  </div>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>

@Html.ActionLink("Back to List", "Index")
@{
  Layout = "_Layout";
}
